<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<context:annotation-config/>
	<context:component-scan base-package="tp.dds.controllers"/>
	<context:component-scan base-package="tp.dds.api"/>
	<context:component-scan base-package="tp.dds.app"/>
	<context:component-scan base-package="tp.dds.config"/>
	<context:component-scan base-package="tp.dds.domain"/>
	<context:component-scan base-package="tp.dds.services"/>
	<context:component-scan base-package="tp.dds.utils"/>

</beans>