body {
	background-image: url("bg.png");
	background-size: 100% auto;
	padding: 100px;
}

.selector, .map {
	text-align: center;
	padding: 20px 10px;
}

.mapSites {
	border: 3px solid #8A4C4C;
	width: 90%;
	height: 500px;
}

.selector  p {
	color: white;
	font-size: 1em;
}

.selector button {
	color: white;
	background: #8A4C4C;
	border-radius: 10px;
	border: 2px solid transparent;
	padding: 10px;
}

.selector button:hover {
	border: 3px solid #8A4C4C;
	background: transparent;
	color: #8A4C4C;
	transition: all 0.5s;
}

.searchPoi {
	padding: 10px;
	margin: 5px 5px;
	background: rgba(0, 0, 0, 0.5)
}

.searchPoi input {
	position:
}

.icon-login{
	position: absolute;
	top:0;
	right: 15px;
	background: rgba(257, 45, 45, 0.5);
	padding: 10px;
	border-radius: 5px;
	color: white;
	font-size: 1em;
	border: none;
}

.icon-login:hover{
	opacity: .2;
}

.modal{
	display: none;
	position: fixed;
	width: 100%;
	background-color: rgba(0,0,0,.7);
}

.modal-inner{
	padding: 20px;
	background: white;
	opacity: 1;
	width: 300px;
	height: 300px;
	position: absolute;
	top:30vh;
	right: 50vh;
	left: 50vh;
		text-align: center;
}

.modal-inne p{
	font-size: 1em;
	color: black;


}

.log-button{
	margin: 10px 0px;
	border: none;
	border-radius: 2px;

}

.log-input{
	width: 100%;
	margin: 10px 0px;
	border: 1px solid #8A4C4C;
	border-radius: 2px;
}
